@import '../style/variables.less';

// 使用 Less 的插值语法 @{...} 来动态生成选择器
.@{custom-prefix}-pro-btn {
  border-radius: 6px;

  &-text {
    // 对应 JS 里的 `${prefixCls}-text`
    margin-right: 8px;
    color: red;
  }
}
