@import '../../style/variables.less';

.@{custom-prefix}-popover-select {
  &-dropdown-content {
    .@{custom-prefix}-popover-select {
      &-menu {
        width: 100%;
        max-height: 400px;
        min-width: 150px;
        padding-bottom: @size-sm;
        overflow-x: hidden;
        overflow-y: auto;
        flex: 1;
        display: flex;
        flex-direction: column;

        .ant-checkbox-wrapper {
          width: 100%;
          overflow: hidden;
          padding: @size-xxs @size;
          color: @color-text;
          transition: background-color 0.2s;

          &:hover {
            background-color: @color-primary-bg;
          }

          > span {
            &:first-child {
              flex-shrink: 0;
            }

            &:last-child {
              flex: 1;
              overflow: hidden;
            }
          }
        }

        &-checkbox {
          display: flex;
          padding: @size-xxs @size-sm;
          margin: 0;
        }

        &-radio {
          flex: 1;
          overflow: hidden;
          padding: @size-xxs @size-sm;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: background-color 0.2s;

          &:hover {
            background-color: @color-fill-tertiary;
          }

          &-disabled {
            opacity: 0.5;
            pointer-events: none;
            cursor: not-allowed;
          }

          &-active {
            background-color: @color-primary-bg;
            color: @color-primary;
            font-weight: 600;
          }

          .ant-typography {
            flex: 1;
            overflow: hidden;
          }
        }

        &-virtual-list {
          .rc-virtual-list-holder-inner {
            overflow-x: hidden;
          }
        }
      }

      &-footer {
        display: flex;
        justify-content: flex-end;
        padding: @size-xs @size-sm;
        border-top: 1px solid @color-border-secondary;
      }
    }

    .@{custom-prefix}-popover-select-search {
      .ant-input-affix-wrapper {
        border-radius: 0;
        padding: @size-xs @size-sm;
        border-bottom: 1px solid @color-border-secondary;
      }

      .anticon {
        color: @color-text-quaternary;
      }
    }

    .@{custom-prefix}-popover-select-select-all {
      padding: @size-xxs @size;
    }

    .@{custom-prefix}-popover-select-empty {
      padding: @size-lg @size-sm;
      text-align: center;

      .ant-empty-image {
        height: 40px;
        margin-bottom: @size-xs;

        .ant-empty-img-simple {
          width: 40px;
          height: 40px;
        }
      }

      .ant-empty-description {
        color: @color-text;
        font-size: 13px;
      }
    }
  }

  &-selector {
    .ant-popover-inner {
      padding: 0;
    }
  }
}

.@{custom-prefix}-popover-selector {
  &-btn {
    display: flex;
    gap: @size-xs;
    align-items: center;
    padding: @size-xxs @size-sm;
    border-radius: @border-radius-xs;
  }

  &-active-btn {
    background-color: @color-primary-bg;
    border: solid 1px @color-primary-border;
    color: @color-primary;
  }

  &-popover &-text {
    flex: 1;
    margin-bottom: 0;
    color: inherit;
  }

  &-arrow {
    flex-shrink: 0;
    font-size: 12px;
    transition: transform 0.3s ease-in-out;

    .@{custom-prefix}-popover-selector-open & {
      transform: rotate(180deg);
    }
  }

  &-clear {
    cursor: pointer;
    flex-shrink: 0;
    font-size: 12px;
  }

  &-open .ant-popover-open {
    color: @color-text;
    background-color: @color-bg-elevated;
  }
}
